# Archivos de compilación y dependencias
**/bin/
**/obj/
**/packages/
*.user
*.suo

# Configuración de IDE
.vscode/
.idea/

# Archivos de log
*.log

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Configuración sensible
appsettings*.json
DCO.Api.DatosComunes/.vs/DCO.Api.DatosComunes/DesignTimeBuild/.dtbcache.v2
DCO.Api.DatosComunes/.vs/DCO.Api.DatosComunes/FileContentIndex/a1729620-44dd-41bb-b974-e0df3353d6b9.vsidx
DCO.Api.DatosComunes/.vs/DCO.Api.DatosComunes/v18/.futdcache.v2
DCO.Api.DatosComunes/.vs/DCO.Api.DatosComunes/v18/DocumentLayout.backup.json
DCO.Api.DatosComunes/.vs/DCO.Api.DatosComunes/v18/DocumentLayout.json
DCO.Api.DatosComunes/.vs/ProjectEvaluation/dco.api.datoscomunes.metadata.v10.bin
DCO.Api.DatosComunes/.vs/ProjectEvaluation/dco.api.datoscomunes.projects.v10.bin
DCO.Api.DatosComunes/.vs/ProjectEvaluation/dco.api.datoscomunes.strings.v10.bin
